<div class="col-md-9">
    <p class="main-text">О КОМПАНИИ
        Как Вы знаете – экономить в наше время, это все равно что заработать.
        Time2act – это сервис, позволяющий зарабатывать на покупках в самом большом
        on-line гипермаркете мира в размере 7% от каждой покупки. Чем больше покупок,
        тем больше заработок.
        <br /><br />
        AliExpress платит нам вознаграждение в зависимости от товарооборота, который
        проходит через наш сервис. Именно с этого вознаграждения наш сервис и выплачивает Вам деньги.
        <br /><br />
        Ответы на свои вопросы Вы найдете перейдя по ссылке.
        Также, Вы можете написать нам в тех поддержку, или позвонить по указанным телефонам с 9:00 до 17:00 по киевскому времени.
        <br />+38(050)1410907
    </p>
</div>