<IfModule mod_rewrite.c>
    RewriteEngine on
     # L - last rule
     # ^(.*)$ - regular - любой запрос (. - любой символ)
    RewriteRule ^$ webroot/ [L]
    RewriteRule (.*) webroot/$1 [L]
</IfModule>