<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Time2Act</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/admin/css/style.css">
    <script src="/js/admin.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/ajax.js"></script>
    <script src="/js/admin.js"></script>
</head>
<body>
<!-- Header -->
<div id="header">
    <div class="shell">
        <!-- Лого и навигация хедера -->
        <div id="top">
            <h1><a href="/admin">Time2Act</a></h1>
            <div id="top-navigation">
                Приветствую <a href="#"><strong>Administrator</strong></a>
                <span>|</span>
                <a href="#">WIKI</a>
                <span>|</span>
                <a href="/admin/logout">Выход</a>
            </div>
        </div>
        <!-- End Лого и навигация хедера -->

        <!-- Меню  -->
        <div id="navigation">
            <ul>
                <li><a id="news_nav" href="/admin/news" <?php echo (Session::get('page') == 'news') ? 'class="active"':'';?>><span>Новости</span></a></li>
                <li><a id="faq_nav" href="/admin/faq" <?php echo (Session::get('page') == 'faq') ? 'class="active"':'';?>><span>Справка</span></a></li>
                <!--<li><a href="#"><span>Блабла</span></a></li>-->
                <!--<li><a href="#"><span>Блабла</span></a></li>-->
            </ul>
        </div>
        <!-- End Меню -->
    </div>
</div>

    <?=$data['content']?>

</body>
</html>