/*.accordeon .active*/
/*{*/
    /*color: #000000*/
/*}*/
.accordeon{
    margin: auto;
    width: 70%;
    text-align: justify;
}

dd{
     display: none;
     margin: auto;
     padding: 10px 10px 0px 80px;
     width: 90%;
 }

dt{
    padding: 10px 10px 10px 10px;
}