
<!-- Главный контент content.php-->
<div class="col-md-9">
    <article>
        <h1>Присоединяйтесь к нашему cashback сервису Time2Act</h1>
        <p>Кэшбэк (от английского cashback) - возврат денег. Другими словами, возмещение покупателю части денег, которые он потратил на покупку.</p>
        <p>Можно назвать это бонусной программой, только в качестве бонусов покупателю за покупку начисляют не виртуальные баллы или псевдо-деньги, которые можно потратить только в следующем заказе и только для определенной группы товаров (обычно это старые модели прошлых лет или любая другая ерунда). Тут начисляют РЕАЛЬНЫЕ ДЕНЬГИ, которые покупатель получает назад после получения заказа. ДЕНЬГИ можно вывести на кошелек WebMoney или банковскую карту. В общем суть в том, что эти ДЕНЬГИ Вы можете потратить на что угодно, или вывести удобным для Вас способом.</p>
        <p>При покупке на Aliexpress Вы получаете назад 7% от каждой покупки.</p>
        <p>Цепочка действий состоит в следующем:</p>
        <ul class="timeline">
            <li>
                <div class="timeline-badge info">1</div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Регистрация</h4>
                    </div>
                    <div class="timeline-body">
                        <p>Регистрируетесь на нашем сайте, мы предоставляем Вам персональную ссылку для заказов с Aliexpress;</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge info">2</div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Оформление заказа</h4>
                    </div>
                    <div class="timeline-body">
                        <p>Оформляете заказ, после доставки товара 7% от затраченных Вами денежных средств будут возвращены в виде РЕАЛЬНЫХ ДЕНЕГ;</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge info">3</div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Вывод денег</h4>
                    </div>
                    <div class="timeline-body">
                        <p>Выводите денежные средства куда Вам удобно.</p>
                    </div>
                </div>
            </li>
        </ul>

<?php if(!Session::get('login')): ?>
        <p><a id='button' href='signup' class='btn log'>Регистрация</a></p>
<?php endif; ?>

        <p>Наша миссия – научить Вас экономить и зарабатывать с самым большим в мире on-line гипермаркетом Aliexpress. Мы ориентируемся на конечного потребителя и хотим сделать покупки через наш сервис не только выгодными, но и приятными.</p>
        <p>Получать дополнительный доход в размере 7% или развивать собственный бизнес – решайте сами! Вместе с time2act CashBack вы можете не просто изменить жизнь к лучшему, а улучшить качество вашей жизни и вывести его на европейский уровень. Все начинается с одного простого шага – присоединяйтесь!</p>
        <p>В личном кабинете Вы найдете как текстовые, так и видео-инструкции которые будут понятны любому, независимо от навыков владения ПК. Также, Вам будут доступны актуальные бизнес-планы для создания микро и малого бизнеса на закупках из Китая! Ваша прибыль будет состоять из cashback, а также разницы между закупочной ценой и Вашей ценой при продаже. В среднем, добавленная стоимость составляет от 20% до 100% в зависимости от категории товара. Итого, вместе с нашим сервисом Вы сможете заработать на любом товаре от 27%. Также, не забвайте, что цена привязана к курсу доллара и Ваши доходы также будут в долларах.</p>
    </article>
</div>