<!-- Content -->
<!-- Container -->
<div id="container">
    <div class="shell">


        <!-- Small Nav -->
        <!--<div class="small-nav">-->
        <!--<a href="#">Новости</a>-->
        <!--</div>-->
        <!-- End Small Nav -->

        <!-- Message OK -->
        <!--<div class="msg msg-ok">-->
        <!--<p><strong>Статья создана успешно</strong></p>-->
        <!--<a href="#" class="close">close</a>-->
        <!--</div>-->
        <!-- End Message OK -->

        <!-- Message Error -->
        <!--<div class="msg msg-error">-->
        <!--<p><strong>Внесите всю информацию для создания статьи</strong></p>-->
        <!--<a href="#" class="close">close</a>-->
        <!--</div>-->
        <!-- End Message Error -->
        <!--<br>-->
        <!-- Main -->
        <div id="main">
            <div class="cl">&nbsp;</div>
                <div id="content">

    <!-- Box Блок с Материалами -->
    <div class="box">
        <!-- Box Head -->
        <div class="box-head">
            <h2 class="left">Материалы (всего <?=$data['count']?> записей)</h2>
            <div style="text-align: right">
                <form method="post" action="/admin/news/search/1" id="search">
                        <label>Параметры поиска: &nbsp; период </label>
                        <select form="search" name="period">
                            <option value="1">день</option>
                            <option value="30">месяц</option>
                            <option value="" selected>все время</option>
                        </select>&nbsp;&nbsp;
                        <label>контент: </label>
                        <input name="content" form="search" type="text" class="field small-field" placeholder=" минимум 5 букв">
                        <label>опуб:</label>
                        <input name="is_published" form="search" type="checkbox">&nbsp;&nbsp;&nbsp;&nbsp;
                        <input form="search" type="submit" class="button" value="Поиск">
                </form>
            </div>
        </div>
        <!-- End Box Head -->

        <!-- Table -->
        <div class="table">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">

                <!-- Pagging -->
                <div class="pagging">
                    <div style="text-align: center">
                        <?php
                            /* Входные параметры */
                            $count_pages = $data['count_for_paginatior']; // количество страниц

                            // Пример: автивная 1
                            if(!empty($data['pagination'])){
                                $active = $data['pagination'];
                            } else {
                                $active = 1; // текущая активная страница
                            }

                            $count_show_pages = 7   ; //  количество отображаемых страниц.
                            // Например, если будет 1000 страниц, то вывести их все весьма проблемно.
                            // Поэтому отображаться будет только заданное количество в этом параметре.
                            //$url = "/index.php";
                            $url = "/admin/news/index/1";
                            //$url_page = "/index.php?page=";
                            $url_page = "/admin/news/index/";

                            paginator($count_pages, $active, $count_show_pages, $url, $url_page);
                            ?>
                    </div>
                </div>
                <!-- End Pagging -->

                <tr>
                    <th width="13">
                        <!--<input type="checkbox" class="checkbox" />-->
                    </th>
                    <th width="13">id</th>
                    <th>Название</th>
                    <th>Дата</th>
                    <th>Опубл</th>
                    <th width="110" class="ac">Действия</th>
                </tr>
                <?php for($i = 0; $i<count($data['news']); $i++): ?>
                <tr>



                    <td>
                        <!--<input type="checkbox" class="checkbox" />-->
                    </td>
                    <td width="13"><?=$data['news'][$i]['id']?></td>
                    <td>
                        <h3>
                            <a href="/admin/news/edit/<?=$data['news'][$i]['id']?>">
                                <?=$data['news'][$i]['title']?>
                            </a>
                        </h3>
                    </td>
                    <td><?=$data['news'][$i]['date']?></td>
                    <td>
                        <input disabled type="checkbox" <?=($data['news'][$i]['is_published'])? "checked" : "" ?>>
                    </td>
                    <td>
                        <a href="/admin/news/delete/<?=$data['news'][$i]['id']?>" onclick="return confirmDelete();" class="ico del">Удалить</a><a href="/admin/news/edit/<?=$data['news'][$i]['id']?>" class="ico edit">Править</a>
                    </td>
                </tr>
                <?php endfor;?>
            </table>


        </div>

    </div>
                    <a href="/admin/news/add" class="add-button"><span>Новая запись</span></a>
                    <div class="cl">&nbsp;</div>

                </div>

            <!-- Main -->
        </div>
    </div>
</div>
<!-- End Container -->

